@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: scroll;
  color: #fff;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
}
