/* General */
@mixin display_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu Bar */
.line_under_menu_bar_grad {
  width: 70%;
  height: 1px;
  mix-blend-mode: overlay;
  background-image: linear-gradient(to left, #676767ff 70%, #67676700);
}

.line_under_text_grad {
  height: 1px;
  background-image: linear-gradient(to left, #fff0, #ffff 50%, #fff0);
  position: absolute;
  top: 48px;
}

/* Title */
.title_of_home {
  @include display_center();
  width: 100vw;
  font-size: 5rem;
  letter-spacing: 1rem;
  position: absolute;
  top: 43vh;
}

.profession {
  @include display_center();
  width: 100vw;
  font-size: 1.7rem;
  color: #8c8c8c;
  letter-spacing: 1rem;
  position: absolute;
  top: 54vh;
}
